In [1]:
# Introduction to list dat type

In [4]:
#list Datatype  : A list is nothing but a collection of items in a particular order

In [5]:
#list datatype is a mutable datatype

In [7]:
#List Datatype = [] Square Brackets

In [13]:
students=['sidhu','amar','rekha','reena','bhavani','archana',]
print(students)
type(students)

['sidhu', 'amar', 'rekha', 'reena', 'bhavani', 'archana']

list

In [14]:
print(students[4])     #+ve index 0,1,2,3

bhavani

In [17]:
print(students[3])

rekha

In [19]:
print(students[0])

sidhu

In [20]:
#-ve indexing -1,-2,-3

In [21]:
print(students[-2])

bhavani

In [22]:
print(students[-5])

amar

In [24]:
#How to REASSIGN, ADD & DELETE the elements in a list

In [25]:
my_students=['sidhu','amar','rekha','reena','bhavani','archana',]
print(my_students)

['sidhu', 'amar', 'rekha', 'reena', 'bhavani', 'archana']

In [ ]:
#Reassignment of value

In [ ]:
req: Amar name should be replaced as shiva

In [28]:
my_students[1]='shiva'
print(my_students)

['sidhu', 'shiva', 'rekha', 'reena', 'bhavani', 'archana']

In [ ]:
req 2:I want to add a new student to my list : om

In [29]:
# by using APPEND the element will be added at the last of the list

In [30]:
my_students.append('om')
print(my_students)

['sidhu', 'shiva', 'rekha', 'reena', 'bhavani', 'archana', 'om']

In [ ]:
#inserting an element

In [43]:
my_students=['sidhu', 'shiva', 'rekha', 'reena', 'bhavani', 'archana', 'om']
print(my_students)

['sidhu', 'shiva', 'rekha', 'reena', 'bhavani', 'archana', 'om']

In [44]:
my_students.insert(1,'karthick')
print(my_students)

['sidhu', 'karthick', 'shiva', 'rekha', 'reena', 'bhavani', 'archana', 'om']

In [45]:
#Deleting the element from the list

In [46]:
del my_students[3]
print(my_students)

['sidhu', 'karthick', 'shiva', 'reena', 'bhavani', 'archana', 'om']

In [47]:
#POP

In [48]:
x=my_students.pop()
print(x)

om

In [49]:
y=my_students.pop(1)
print(y)

karthick

In [51]:
print(my_students)

['sidhu', 'shiva', 'rekha', 'reena', 'bhavani', 'archana']